@media (min-width: 906px) and (max-width: 1057px) {
  .inside-header,
  .inside-header2,
  .menu,
  .int-highlights,
  .container-int {
    max-width: 890px;
  }

  .container-left {
    width: 600px;
  }

  .notice-content1 {
    width: 278px;
  }

  .notice-content1 .notice-item1 .notice-img {
    width: 245px;
  }

  .notice-content1 .notice-img .notice-image {
    width: 245px;
  }

  .notice-content1 .notice-item1 .notice-title1 {
    width: 245px;
    font-size: 25px;
  }

  #menu {
    display: block !important;
  }
}

@media (min-width: 783px) and (max-width: 906px) {
  .inside-header,
  .inside-header2,
  .menu,
  .int-highlights,
  .container-int {
    max-width: 768px;
  }

  .inside-header2 .banner {
    display: none;
  }

  #menu {
    display: block !important;
  }

  .inside-header2 .logo-wrap {
    float: none;
    margin: auto;
  }

  .container-right {
    display: none;
  }

  .container-left {
    float: none;
    width: auto;
  }

  .notice-content1 {
    width: 446px;
  }

  .notice-content1 .notice-item1 .notice-img {
    width: 415px;
  }

  .notice-content1 .notice-img .notice-image {
    width: 415px;
  }

  .notice-content1 .notice-item1 .notice-title1 {
    width: 415px;
    font-size: 25px;
  }
}

@media (min-width: 320px) and (max-width: 783px) {
  .inside-header,
  .inside-header2,
  .menu,
  .int-highlights,
  .container-int {
    max-width: 320px;
  }

  .top-left {
    display: none;
  }

  .top-right {
    width: 100%;
  }

  .inside-header2 .banner {
    display: none;
  }

  .inside-header2 .logo-wrap {
    float: none;
    margin: auto;
  }

  .menu > .responsive-menu {
    display: block;
  }

  .menu > ul {
    display: none;
    position: absolute;
    background-color: #c0392b;
    z-index: 10;
    margin-top: 0;
  }

  .menu-wrap .menu {
    max-width: 320px;
  }

  .menu-wrap .menu li {
    float: none;
    height: auto;
  }

  .menu .arrow-submenu {
    display: none;
  }

  .submenu {
    position: static;
    display: block;
  }

  .highlights-area {
    display: none;
  }

  .container-right {
    display: none;
  }

  .container-left {
    float: none;
    width: auto;
  }

  .notice-content1 {
    width: 320px;
    height: auto;
  }

  .notice-content2 {
    width: 300px;
    float: none;
    margin: auto;
    clear: both;
    padding-top: 20px;
  }

  .notice-content2 .notice-item1 .notice-title1 {
    width: 206px;
  }

  .notice-content2 .notice-item1 .notice-info1 {
    width: 206px;
  }

  .notice-content2 .notice-item1 {
    clear: both;
  }

  .notice-content1 .notice-item1 .notice-img {
    width: 290px;
  }

  .notice-content1 .notice-img .notice-image {
    width: 290px;
  }

  .notice-content1 .notice-item1 .notice-title1 {
    width: 290px;
    font-size: 20px;
  }
}
