body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.top-header{
  background-color: #2c3e50;
  width: 100%;
  height: 30px;
}

.inside-header{
  width: 100%;
  height: 30px;
  max-width: 1040px;
  margin: auto;
  display: flex;
}

.top-left{
  width: 50%;
  height: 30px;
  display: flex;
  justify-content: left;
}

.top-right {
  width: 50%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-right > .link-media {
  display: flex;
  align-items: center;
  margin-right: 3px;
  margin-left: 0;
}

.top-left ul{
  display: flex;
 margin: 0;
 padding: 0;
 list-style: none;
}

.top-left li > a {
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  float: left;
  color: #fff;
  margin-right: 8px;
  margin-left: 0;
}

.social-media {
  align-items: center;
  border: 0;
  width: 26px;
  height: 26px;
}

.top-right .input-image {
  display: inline-block;
  border: 0;
  width: 26px;
  height: 26px;
}

.input-search {
  display: inline-block;
  width: 110px;
  outline: 0;
}

.top-header2 {
  height: 95px;
  color: #000;
}

.inside-header2 {
  width: 100%;
  max-width: 1040px;
  height: 95px;
  margin: auto;
}

.logo-wrap {
  width: 230px;
  height: 95px;
  float: left;
  margin-top: 7px;
}

.logo {
  width: 230px;
  border: 0;
}

.top-header2 .banner {
  width: 650px;
  height: 80px;
  float: right;
  margin-top: 7px;
  background-color: #c0392b;
}

.menu-wrap {
  height: 40px;
  background-color: #c0392b;
}

.menu-wrap > .menu {
  width: 100%;
  max-width: 1040px;
  height: 40px;
  margin: auto;
}

.menu-wrap > .menu > ul {
  padding: 0;
  list-style: none;
}

.menu-wrap .menu li {
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0px 8px 0px 8px;
}

.menu-wrap .menu li:hover .submenu {
  display: block;
}

.menu-wrap .menu a {
  text-decoration: none;
  color: #fff;
}

.submenu {
  width: 150px;
  background-color: #c0392b;
  position: absolute;
  display: none;
}

.arrow-submenu {
  border: 0;
  width: 10px;
}

.submenu .submenu-item {
  width: 140px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}

.submenu .submenu-item:hover {
  background-color: #e74c3c;
}

.last-highlights {
  height: 40px;
}

.int-highlights {
  width: 100%;
  max-width: 1040px;
  height: 40px;
  margin: auto;
}

.highlights-area {
  height: 28px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.notice-title {
  background-color: #e74c3c;
  color: #fff;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px
}

.last-notice {
  color: #000;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding-left: 5px;
}

.container-int {
  width: 100%;
  max-width: 1040px;
  margin: auto;
  background-color: #999;
}

.container-right {
  width: 275px;
  min-height: 200px;
  float: right;
  margin-left: 12px;
}

.container-left {
  float: left;
  width: 753px;
}

.widget {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.widget-title {
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  background-color: #ddd;
}

.widget-content {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.notice-item {
  font-size: 15px;
  margin:0 5px;
  padding: 5px 0;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.notice-item a {
  text-decoration: none;
  color: #000;
}

.slideshow {
  height: 335px;
  background-color: #ccc;
  overflow: hidden;
  margin-bottom: 20px;
}

.slideshowarea {
  width: 100000px;
  height: 335px;
  background-color: #ddd;
  transition: all 1s; 
}

.slide {
  height: 335px;
  float: left;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide.-img1 {
  background-image: url('https://images.immedia.com.br//27/27717_2_EL.jpg?c=201904301135');
}

.slide.-img2 {
  background-image: url('https://s2.glbimg.com/EVmEGJiHXkx04JiuxPQz2LhMnHI=/620x455/e.glbimg.com/og/ed/f/original/2019/02/06/o-que-e-mindful-eating_1.jpg');
}

.slide.-img3 {
  background-image: url('https://s2.glbimg.com/aqZ25WFUSiabnvuES4xLaTY8wwk=/0x0:1080x608/1600x0/smart/filters:strip_icc()/s.glbimg.com/es/ge/f/original/2019/01/04/carrossel-xavi.jpg');
}

.slide.-img4 {
  background-image: url('https://s2.glbimg.com/5mbzzSkbfgalt3FhCgYdoshQVJ8=/0x0:2880x2160/1600x0/smart/filters:strip_icc()/s.glbimg.com/jo/g1/f/original/2014/09/24/100_8362.jpg');
}



.slide-info {
  height: 70px;
  background-image: url('../img/slideshow_bg.png');
  background-size: auto 70px;
  margin-top: 265px;
}

.slide-title {
  font-size: 20px;
  color: #fff;
  padding-top: 15px;
  padding-left: 20px;
}

.slide-subtitle {
  font-size: 13px;
  color: #fff;
  padding-left: 20px;
}

.slide-bubble {
  position: absolute;
  width: 200px;
  height: 20px;
}

.bubble {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 50%;
  opacity: .5;
  margin-top: 5px;
}

.notice-content1 {
  width: 430px;
  height: 420px;
  float: left;
}

.notice-content2 {
  width: 320px;
  height: 420px;
  float: left;
}

.clear {
  clear: both;
}

.notice-image {
  width: 80px;
  height: 80px;
  border: 0;
}

.notice-img {
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  padding: 3px;
  float: left;
}

.notice-item1 {
  text-align: left;
}

.notice-title1 {
  float: left;
  margin-left: 6px;
  font-size: 16px;
  width: 226px;
}

.notice-info1 {
  float: left;
  font-size: 12px;
  margin-left: 6px;
  color: #999;
}