body {
  font-family: 'Roboto', sans-serif;
}

.top-site {
  height: 50px;
  background-color: #353535;
  display: flex;
  justify-content: center;
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.logo {
  font-size: 24px;
  line-height: 50px;
  text-transform: uppercase;
  color: #fff;
}

.menu > ul {
  display: flex;
}

.menu li {
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.menu li:hover {
  background-color: #3480c1; 
}

.spotlight {
  height: 300px;
  background-color: #347aba;
}

.featured-content {
  width: 1000px;
  margin: auto;
  background-color: #000;
}

.right-content {
  float: right;
}

.right-content > .image {
  margin-right: 55px;
}

.left-content {
  float: left;
}

.title {
  margin-top: 60px;
  font-size: 48px;
  color: #fff;
}

.title > .title-uppercase {
  text-transform: uppercase;
}

.text {
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
}

.button {
  display: inline-block;
  width: 282px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  font-size: 20px;
  margin-top: 20px;
  color: #000;
  background-color: #ffc001;
  text-decoration: none;
  border-radius: 5px;
}

.product-content {
  width: 1000px;
  margin: auto;
}

.others-products {
  height: 90px;
  font-size: 20px;
  text-align: end;
  line-height: 90px;
}

.photo-product {
  display: flex;
  justify-content: center;
}

.photo-product > img {
  margin-right: 10px;
  margin-left: 10px;
}

.footer {
  height: 80px;
  margin-top: 40px;
  text-align: center;
  line-height: 80px;
  color: #fff;
  font-size: 20px;
  background: #347aba;
}